{
  "presets": ["@babel/preset-react", "@babel/env", "@babel/typescript"],
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-react",
          "@babel/typescript",
          { "runtime": "automatic" }
        ]
      ]
    }
  }
}
